.section-title {

  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;

  strong {
    font-weight: 500;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;

    @mixin atSmall {
      position: relative;
      top: 14px;
      margin-right: .5rem;
      margin-left: 0;
      margin-right: 0;
      display: inline-block;
    }
  }

  &--blue {
    color: $mainBlue;
  }
}
